.chat-window {
  margin: 5px auto;
  margin-bottom: 4px;
  max-width: 1400px;
}

.chat-window header {
  background-color: #4267b2;
  color: white;
  height: fit-content;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2px;
}

.me-sender,
.me-receiver {
  min-width: 10px;
  max-width: 500px;
  margin: 2px 2px;
  padding: 8px;
  display: block;
  color: white;
  border-radius: 17px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  height: 100%;
}

.me-sender {
  background: #4267b2;
}

.me-receiver {
  background: #575757;
}

.me-sender-container,
.me-receiver-container {
  display: flex;
  align-items: end;
}

.me-sender-container {
  justify-content: flex-end;
}

.me-receiver-container {
  justify-content: flex-start;
}

.conversation {
  border: 1px solid #4267b2;
  height: 200px;
  overflow-y: scroll;
  background-color: aliceblue;
  padding: 3px 4px;
}

.conversation::-webkit-scrollbar {
  width: 4px;
}

.conversation::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

.conversation::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.chat-input {
  display: inline-block;
  resize: none;
  height: max-content;
  max-height: 120px;
  width: 400px;
  overflow: auto;
}

.chat-input::-webkit-scrollbar {
  width: 0px;
}

.send-message-button {
  display: inline-block;
}

.send-message-button > div {
  display: flex;
  width: 0;
}

.send-message-button a {
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-size: 2.6em;
  position: relative;
  bottom: 15px;
  right: 60px;
}

.chat-input-container {
  height: fit-content;
  margin-top: 5px;
}

.chat-input-container form {
  display: flex;
  align-items: center;
}

.chat-input {
  width: 100%;
  padding-right: 65px;
}

.open-chat {
  text-decoration: none;
  font-size: 20px;
}

.message-status {
  position: relative;
}

.message-status span {
  position: absolute;
  display: block;
  height: 3px;
  background: #4267b2;
  margin: 0;
}

.hidden {
  visibility: hidden;
}

.message-status span:nth-child(1) {
  width: 7px;
  transform: rotate(45deg);
  bottom: 9px;
  right: 13px;
}

.message-status span:nth-child(2) {
  width: 15px;
  transform: rotate(-45deg);
  bottom: 12px;
  right: 3px;
}

.read-tick span {
  margin-bottom: 5px;
}
